:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #fff;
}

h1,
h2,
h3,
h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/0bd3a69d-6790-4edc-9818-1c8c558946c2/800a32e1-c721-4e07-bed9-6f2e4ed726f6/CL-es-20220329-popsignuptwoweeks-perspective_alpha_website_large.jpg') no-repeat center center/cover;
    border-bottom: 8px solid #222;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    /* transparencia img fondo*/
    box-shadow: inset 50px 50px 200px #000000, inset -50px -50px 200px #000000;
    /* dar mayor oscuridad a los bordes */
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 200px;
    position: absolute;
    left: 2%;
}

.showcase-top a {
    position: absolute;
    top: 55%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 1.1;
    margin: 0 12rem 1rem 12rem;
}

.showcase-content h2 {
    font-size: 1.625rem;
    font-weight: 400;
}

.showcase-content h3 {
    font-weight: 200;
    font-size: 1.23rem;
    line-height: 1.25;
    margin: 2rem 0 1.1rem;
}


/* Botones */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45rem);
    border-radius: 2px;
}

.btn-icon {
    font-size: 20px;
    margin-top: 5.5%;
    margin-left: 7%;
}

.btn-idioma {
    margin-right: 25%;
    border: 0.5px solid white;
    cursor: default;
    width: 100px;
    height: 32px;
    font-size: 0.9rem;
    outline: none;
}

.i-logo {
    margin-left: 5px;
    margin-top: 7px;
    size: 50%;
}

.arrow {
    margin-right: 1px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 3px;
}

.btn-xl {
    font-size: 1.8rem;
    padding: 0.8rem 2rem;
    display: flex;
}

.contenedor-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-button input {
    font-size: 16px;
    outline: none;
    padding-bottom: 10px 10px 0 0;
    min-width: 475px;
    height: 55px;
    align-items: center;
    text-indent: 10px;
    /* margen al placeholder del input */
}

/* Cards */

.contenedor1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 3rem 5rem;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
}

.contenedor1 .cont-text1 {
    width: 45%;
}

.contenedor1 .cont-text1 h1 {
    font-size: 3.1rem;
}

.contenedor1 .cont-text1 p {
    font-size: 1.6rem;
}

.contenedor1 .cont-img {
    position: relative;
    width: 55%;
}

.contenedor1 .cont-img video {
    box-sizing: border-box;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png) center center no-repeat;
    background-size: contain;
    width: 100%;
    padding: 13.2% 20.1% 15.4% 19.3%;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 3rem 5rem 0;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
}

.contenedor2 .cont-text1 {
    width: 57%;
    padding-left: 8%;
}

.contenedor2 .cont-text1 h1 {
    font-size: 3.1rem;
    padding-bottom: 20px;
}

.contenedor2 .cont-text1 p {
    font-size: 1.6rem;
}

.contenedor2 .cont-img {
    position: relative;
    width: 43%;
}


.contenedor3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 5rem 3rem;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
}

.contenedor4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 3rem 4rem 2rem;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
}

.contenedor4 .cont-text1 {
    width: 55%;
    padding-left: 20px;
}

.contenedor4 .cont-img {
    position: relative;
    width: 50%;
}

.contenedor4 .cont-text1 h1 {
    font-size: 3.1rem;
    padding-bottom: 20px;
}

.contenedor4 .cont-text1 p {
    font-size: 1.6rem;
}

.contenedor3 .cont-img video {
    box-sizing: border-box;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png) center center no-repeat;
    background-size: contain;
    width: 100%;
    padding: 7% 23% 29% 22%;
}

.contenedor3 .cont-text1 {
    width: 50%;
}

.contenedor3 .cont-text1 h1 {
    font-size: 3.1rem;
    padding-bottom: 20px;
}

.contenedor3 .cont-text1 p {
    font-size: 1.6rem;
}

.contenedor3 .cont-img {
    position: relative;
    width: 59%;
}


.card-header img {
    width: 46px;
    height: 64px;
}

.card-1 {
    position: absolute;
    left: 50%;
    width: 70%;
    height: 27%;
    bottom: 9%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto 0 auto;
    background: #000;
    display: flex;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border: 2px solid rgba(255, 255, 255, .25);
    border-radius: 0.75em;
}

.card-body {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1.3em;
}

.texto-1 {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.texto-2 {
    color: #0071eb;
    font-size: .9em;
    font-weight: 400;
}

.cargando::after {
    width: 3em;
    height: 3em;
    padding: 25px 0 0 10px;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
}

/* Sección preguntas */

.contenedor-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contenedor-list h1 {
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.titulo {
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
}

.icon {
    width: 20px;
    position: relative;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}

.icon::after {
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text {
    background: #303030;
    line-height: 35px;
    margin: 3px 0;
    opacity: 0;
    height: 0;
    font-size: 1.7rem;
    font-weight: 400;
}

.item:target .text {
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}

.item:target .icon::after {
    transform: rotateY(90deg);
}

.banner {
    border-bottom: 0.6rem solid #111;
}

.banner .box {
    margin: 4rem 0;
}

.banner .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h3 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .contenedor-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 4rem 0;
}

.footer .one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 25%;
}

.footer li {
    list-style: none;
    padding: 7px 0;
}

.footer .one li a {
    color: #757575;
    text-decoration: none;
}

.footer .one li a:hover {
    border-bottom: 1px solid #757575;
}

/* MEDIA SCREEN */

@media screen and (max-width: 787px) {
    .showcase .showcase-top {
        padding: 20px 50px;
    }

    .showcase .showcase-top img {
        width: 20%;
    }

    .showcase-content h1 {
        font-size: 3.1rem;
        width: 90%;
    }

    .showcase-content h2 {
        font-size: 1.6rem;
        padding: 0.8rem 0 0 0;
    }

    .showcase-content h3 {
        width: 100%;
        font-size: 1.4rem;
        padding: 0 22% 0 22%;
    }

    .showcase .contenedor-button {
        flex-direction: column;
    }

    .showcase .contenedor-button input {
        max-width: 500px;
        margin-bottom: 15px;
    }

    .showcase .contenedor-button .btn-xl {
        font-size: 1rem;
        min-height: 40px;
    }

    .showcase .contenedor-button .btn-icon {
        font-size: 1rem;
        margin-top: 0;
    }

    .contenedor1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 4rem 1rem 4rem;
    }

    .contenedor1 .cont-text1 {
        width: 90%;
    }

    .contenedor1 .cont-text1 h1 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    .contenedor1 .cont-text1 p {
        font-size: 1.25rem;
    }

    .contenedor1 .cont-img {
        width: 100%;
        margin-top: 10px;
    }

    .contenedor2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 4rem 0 4rem;
    }

    .contenedor2 .cont-text1 {
        width: 90%;
    }

    .contenedor2 .cont-img {
        width: 80%;
        margin-top: 10px;
    }

    .card-body {
        margin: 1em 7em 0 0;
    }

    .texto-2 {
        margin: 0 1.6em 0 0;
    }

    .contenedor2 .cont-text1 h1 {
        font-size: 2.5rem;
    }

    .contenedor2 .cont-text1 p {
        font-size: 1.25rem;
    }

    .card-1 {
        width: 66%;
        height: 18%;
    }

    .cargando::after {
        padding: 1.7em 0 0 10px;
        width: 2.3em;
        height: 2.3em;
    }

    .contenedor3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 4rem 0 4rem;
    }

    .contenedor3 .cont-text1 {
        width: 90%;
    }

    .contenedor3 .cont-text1 h1 {
        font-size: 2.5rem;
    }

    .contenedor3 .cont-text1 p {
        font-size: 1.25rem;
    }

    .contenedor3 .cont-img {
        width: 85%;
        margin-top: 10px;
    }

    .contenedor4 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 4rem 0 4rem;
    }

    .contenedor4 .cont-text1 {
        width: 90%;
    }

    .contenedor4 .cont-text1 h1 {
        font-size: 2.5rem;
    }

    .contenedor4 .cont-text1 p {
        font-size: 1.25rem;
    }

    .contenedor4 .cont-img {
        width: 80%;
        margin-top: 10px;
    }

    .contenedor-list {
        width: 80%;
    }

    .contenedor-list h1 {
        font-size: 2.5rem;
        padding: 3rem 0 2rem 0;
    }

    .titulo {
        padding: 20px 30px;
        font-size: 1.3rem;
    }

    .text {
        font-size: 1.3rem;
    }

    .banner .box {
        margin: 1rem 0;
        margin-bottom: 4rem;
    }

    .banner .box .heading h3 {
        font-size: 1.41rem;
        width: 60%;
        padding: 15px 0;
        padding-bottom: 17px;
    }

    .banner .box .contenedor-button {
        flex-direction: column;
    }

    .banner .box .contenedor-button input {
        min-width: 530px;
        margin-bottom: 10px;
    }

    .banner .box .contenedor-button .btn-xl {
        font-size: 1rem;
        min-height: 40px;
    }

    .banner .box .contenedor-button .btn-icon {
        font-size: 1rem;
        margin-top: 0;
    }

    

}

@media screen and (max-width: 449px) {

    .showcase::after {
        background: rgba(0, 0, 0, 0.4);
        /* transparencia img fondo*/
        box-shadow: inset 10px 10px 100px #000000, inset -10px -10px 100px #000000;
        /* dar mayor oscuridad a los bordes */
    }

    .btn {
        font-size: .9rem;
        padding: 0.455rem 0.5rem;
        float: none;
        white-space: nowrap;
    }

    .btn-idioma {
        margin-right: 25%;
        height: 28px;
        font-size: 0.9rem;
        outline: none;
    }

    .showcase {
        width: 100%;
        height: 650px;
        top: 1%;
    }

    .showcase .showcase-top img {
        width: 30%;
    }

    .showcase-content h1 {
        font-size: 1.75rem;
        max-width: 640px;
        margin: 0 auto;
    }

    .showcase-content h2 {
        font-size: 1.125rem;
        margin: 1rem auto;
    }

    .showcase-content h3 {
        max-width: 400px;
        font-size: 18px;
        margin: 0 auto;
        padding: 0 8%;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .showcase .contenedor-button input {
        min-width: 400px;
        height: 48px;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .showcase .contenedor-button .btn-xl {
        min-height: 40px;
        width: 120px;
        align-items: center;
    }

    .contenedor1 .cont-text1 {
        width: 100%;
    }

    .contenedor1 .cont-text1 h1 {
        font-size: 1.625rem;
        line-height: 1.1;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .contenedor1 .cont-text1 p {
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0.75em 0 0;
    }

    .contenedor1 .cont-img {
        width: 110%;
    }

    .contenedor2 .cont-text1 {
        width: 100%;
    }

    .contenedor2 .cont-img {
        width: 90%;
        margin-top: 10px;
    }

    .card-body {
        margin: .8em 0 0 0;
    }

    .texto-2 {
        font-size: .75em;
        margin: 0 3.2em 0 0;
    }
    .texto-1 {
        font-size: .75em;
        margin: 0 2.5em 0 0;
    }

    .contenedor2 .cont-text1 h1 {
        font-size: 1.625rem;
        line-height: 1.1;
        margin: 0 1rem 0 0;
        font-weight: bold;
    }

    .contenedor2 .cont-text1 p {
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0.1rem 0 0;
    }

    .card-1 {
        width: 66%;
        height: 22%;
    }

    .card-header img{
        height: 3em;
        max-width: 80%;
    }

    .cargando::after {
        padding: 1.2em 0 0 10px;
        width: 2em;
        height: 2em;
    }

    .contenedor3 .cont-text1 {
        width: 100%;
    }

    .contenedor3 .cont-text1 h1 {
        font-size: 1.625rem;
        line-height: 1.1;
        margin: 0 1rem 0 0;
        font-weight: bold;
    }

    .contenedor3 .cont-text1 p {
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0.1rem 0.5em 0 0.5em;
    }

    .contenedor3 .cont-img {
        width: 100%;
        margin-top: 10px;
    }

    .contenedor4 .cont-text1 {
        width: 100%;
    }

    .contenedor4 .cont-text1 h1 {
        font-size: 1.625rem;
        line-height: 1.1;
        margin: 0 1rem 0 0;
        font-weight: bold;
    }

    .contenedor4 .cont-text1 p {
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0.1rem 0.5em 0 0;
    }

    .contenedor4 .cont-img {
        width: 90%;
        margin-top: 20px;
    }

    .contenedor-list {
        width: 100%;
        text-align: center;
    }

    .contenedor-list .text {
        font-size: 1.125rem;
    }

    .contenedor-list h1 {
        font-size: 1.625rem;
    }

    .titulo {
        font-size: 1.125rem;
        padding: 0.8em 2.2em 0.8em 1.2em;
        margin-bottom: 1px;
        font-weight: 400;
        position: relative;
        width: 100%;
        border: 0;
    }
    .banner .box {
        margin: 1rem 0;
        margin-bottom: 4rem;
    }

    .banner .box .heading h3 {
        font-size: 1.125rem;
        width: 70%;
        padding: 15px 0;
        padding-bottom: 17px;
    }

    .banner .box .contenedor-button {
        flex-direction: column;
    }

    .banner .box .contenedor-button input {
        min-width: 400px;
        height: 48px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .banner .box .contenedor-button .btn-xl {
        min-height: 40px;
        width: 120px;
        align-items: center;
    }

    .footer .one {
        flex-direction: column;
        width: 50%;
    }
   
    .footer .one .items li a {
        font-size: 16px;
    }
    
}